{% extends "index.njk" %}

{% block map %}

<h1> GG! IT WORKS!!! <h1>

<div class="mdl-textfield_holder">
    <input class="mdl-textfield__input" type="text" id="search-field">
</div>

{% endblock %}

